<!-- Feature 1 -->
<article id="first" class="container box style1 right">
  <a href="#" class="image fit"><%= image_tag 'images_background/pic01.jpg' %></a>
  <div class="inner">
    <header>
      <h2>Lorem ipsum<br />
        dolor sit amet</h2>
    </header>
    <p>Tortor faucibus ullamcorper nec tempus purus sed penatibus. Lacinia pellentesque eleifend vitae est elit tristique velit tempus etiam.</p>
  </div>
</article>

<!-- Feature 2 -->
<article class="container box style1 left">
  <a href="#" class="image fit"><%= image_tag 'images_background/pic02.jpg' %></a>
  <div class="inner">
    <header>
      <h2>Mollis posuere<br />
        lectus lacus</h2>
    </header>
    <p>Rhoncus mattis egestas sed fusce sodales rutrum et etiam ullamcorper. Etiam egestas scelerisque ac duis magna lorem ipsum dolor.</p>
  </div>
</article>

<!-- Portfolio -->
<article class="container box style2">
  <header>
    <h2>Magnis parturient</h2>
    <p>Justo phasellus et aenean dignissim<br />
      placerat cubilia purus lectus.</p>
  </header>
  <div class="inner gallery">
    <div class="row 0%">
      <div class="3u 12u(mobile)"><a href="#" class="image fit"><%= image_tag 'images_background/thumbs/01.jpg' %></a></div>
      <div class="3u 12u(mobile)"><a href="#" class="image fit"><%= image_tag 'images_background/thumbs/02.jpg' %></a></div>
      <div class="3u 12u(mobile)"><a href="#" class="image fit"><%= image_tag 'images_background/thumbs/03.jpg' %></a></div>
      <div class="3u 12u(mobile)"><a href="#" class="image fit"><%= image_tag 'images_background/thumbs/04.jpg' %></a></div>
    </div>
    <div class="row 0%">
      <div class="3u 12u(mobile)"><a href="#" class="image fit"><%= image_tag 'images_background/thumbs/05.jpg' %></a></div>
      <div class="3u 12u(mobile)"><a href="#" class="image fit"><%= image_tag 'images_background/thumbs/06.jpg' %></a></div>
      <div class="3u 12u(mobile)"><a href="#" class="image fit"><%= image_tag 'images_background/thumbs/07.jpg' %></a></div>
      <div class="3u 12u(mobile)"><a href="#" class="image fit"><%= image_tag 'images_background/thumbs/08.jpg' %></a></div>
    </div>
  </div>
</article>