<div id="people-render">
  <div class="row">
    <% if @people.blank? %>
      <div class="col-md-8">
        <div class="alert alert-info" role="alert">
          <strong><i class="fa fa-info fa-2x"></i></strong>
          <%= t('no_data').capitalize %>
        </div>
      </div>
    <% else %>
        <% @people.each do |person| %>
            <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <center>
                    <%= image_tag person.photo.url, class: 'image img-circle', size: '200x200' %>
                  </center>
                </div>
                <div class="panel-body">
                  <div class="form">
                    <div class="form-group">
                      <label><%= person.name %></label>
                      -
                      <label><%= person.age %></label>
                      <br>
                      <label><%= person.genre.capitalize %></label>
                      <div class="btn-group pull-right">
                        <%= link_to people_info_path(id:person.id), class:"btn btn-success info-link", data:{toggle:"tooltip", placement:"left"}, title: t('information'), remote: true do %>
                            <i class="fa fa-info"></i>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
</div>

<div id="person-info"></div>

<%= render 'general/loader' %>
